
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Album example · Bootstrap v5.0</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/album/">



    <!-- Bootstrap core CSS -->
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>


  </head>
  <body>

<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">Products</h4>
          <p class="text-muted"></p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Follow on Twitter</a></li>
            <li><a href="#" class="text-white">Like on Facebook</a></li>
            <li><a href="#" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong>Capital Distributing</strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Products</h1>
        <p class="lead text-muted"></p>
        <p>
          <a href="#" class="btn btn-primary my-2">Order</a>
          <a href="<%= pages_home_path%>" class="btn btn-secondary my-2">Home</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top img-responsive" width='100%' height='224' src='https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.Ghd65o2uTgaREjlep3T-8QHaHa%26pid%3DApi&f=1'>
            <div class="card-body">
              <p class="card-text">Abita Amber<br>Availabilty: Year Round<br>Style: Lager/Pilsner <br>Category: Craft <br> ABV: 4.5%<br> IBU: 17<br> Hops: German Perle</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top img-responsive" width='100%' height='224' src='https://capitaldist.com/sites/default/files/styles/medium/public/2018-07/Abita-Andygator-135-135-crop.png?itok=SUnsMI1W'>
            <div class="card-body">
              <p class="card-text">Abita Andygator<br>Availabilty: Year Round<br>Style: Lager/Pilsner<br>Category: Craft <br> ABV: 8.0% <br> IBU: 25<br> Hops: German Perle</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top img-responsive" width='100%' height='224' src='https://capitaldist.com/sites/default/files/styles/medium/public/2018-07/Abita-Root-Beer-135-135-crop.png?itok=bdkrmDH2'>
            <div class="card-body">
              <p class="card-text">Abita Bayou BTLGR Hard Rootbeer<br>Availabilty: Year Round<br>Style: Other <br>Category: Craft <br> ABV: 5.9% </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top img-responsive" width='100%' height='224' src='https://capitaldist.com/sites/default/files/styles/medium/public/2018-10/coors-banquet_0.png?itok=rr8TpZ8g'>
            <div class="card-body">
              <p class="card-text">Coors Banquet<br>Availabilty: Year Round<br>Style: Lager/Pilsner <br>Category: Domestic<br> ABV: 5.0%<br> IBU: 6 <br> Hops: Chinook, Hallertau, Taurus </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top img-responsive" width='100%' height='224' src='https://capitaldist.com/sites/default/files/styles/medium/public/2018-10/coors-light.png?itok=NzqiewdR'>
            <div class="card-body">
              <p class="card-text">Coors Light<br>Availabilty: Year Round<br>Style: Lager/Pilsner<br>Category: Domestic<br> ABV: 4.5%</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top img-responsive" width='100%' height='224' src='https://capitaldist.com/sites/default/files/styles/medium/public/2018-10/MillerGenuineDraft.png?itok=UHSSsV1A'>
            <div class="card-body">
              <p class="card-text">Miller Gernuine Draft<br>Availabilty: Year Round<br>Style: Lager/Pilsner <br>Category: Domestic <br> ABV: 4.7%<br> Hops: Hops and Hop Extract</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top img-responsive" width='100%' height='224' src='https://capitaldist.com/sites/default/files/styles/medium/public/2018-10/MillerLite.png?itok=Z4qmR_vw'>
            <div class="card-body">
              <p class="card-text">Miller Lite<br>Availabilty: Year Round<br>Style: Lager/Pilsner <br>Category: Domestic <br> ABV: 4.2%</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top img-responsive" width='100%' height='224' src='https://capitaldist.com/sites/default/files/styles/medium/public/2018-10/Miller64.png?itok=1VAecY_2'>
            <div class="card-body">
              <p class="card-text">Miller64<br>Availabilty: Year Round<br>Style: Lager/Pilsner <br>Category: Domestic <br> ABV: 3.0% </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top img-responsive" width='100%' height='224' src='https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.Ghd65o2uTgaREjlep3T-8QHaHa%26pid%3DApi&f=1'>
            <div class="card-body">
              <p class="card-text"><br>Availabilty: Year Round<br>Style: <br>Category: <br> ABV: <br> IBU: <br> Hops: </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>

<footer class="text-muted py-5">
  <div class="container">
      <footer class="mt-auto text-grey-50">
    <p>© Copyright 2022 Capital Distributing LLC. <br>
 <a href="https://capitaldist.com/contact" class="text-grey">Contact</a><br><a href="https://capitaldist.com/privacy" class="text-grey">Privacy Policy</a><br> <a href="https://capitaldist.com/terms" class="text-grey">Terms of Use</a>.</p>
  </footer>
  </div>
</footer>


    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>


  </body>
</html>
